#calendActiv {
    margin-top: 5%;
    border-radius: 5px 5px;
    border: 10px rgba(0, 0, 0, 0.199) solid;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17.3px);

    background-color: #000013da;
    color: white;

    display: flex;
    flex-direction: col;
    justify-content: space-between;

    padding-block: calc(1em);
    padding-inline: calc(1em);

}

#calendActivInt {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    padding-inline: 5%;
}

#calendActivInt table {
    width: 100%;
}

#calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.diaCalendario {
    width : 100%;
    color: white;
    border-radius: 5px 5px;
    box-shadow: 0px 1px 5px var(--border-color);
    border: 2px  var(--border-color) solid;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17.3px);

    backdrop-filter: blur(15px);
    opacity: 70%;
    background: none;
    border-radius: 4px;
}

.botonesMes {
    width: 7%;
    box-shadow: 0px 2px 10px var(--border-color);
    border: 2px  var(--border-color) solid;
    border-radius: 4px;
    background-color: var(--background-color);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17.3px);
    color: white;
}

.campo input {
    color: white;
}

#popup {
    z-index: 2;
    position: absolute;
    width: 30%;
    height: 40%;
    opacity: 0%;
    translate: -30% -130%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 2px 10px var(--border-color);
    border: 2px var(--border-color) solid;
    border-radius: 4px;
    background-color: var(--background-color);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17.3px);
    color: white;

    pointer-events: none;
}

#popupText {
    font-size: 1em;
}