@font-face {
  src: url("fonts/Louis-George-Cafe.ttf");
  font-family: 'Louis';
}

@font-face {
  src: url("fonts/NOCTADO.otf");
  font-family: 'Noctado';
}

@font-face {
  src: url("fonts/against\ regular.otf");
  font-family: 'Regular';
}

/* Estilos generales para body y html */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: none !important;
}

#videoFondo {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; /* Coloca el video detrás de otros elementos */
}

/* Estilos para el encabezado */
header {
  z-index: 6;
  font-family: 'Louis';
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 10% repeat(4, 1fr);
  align-items: center;
  text-align: center;
  height: fit-content;
  padding-block: 0.8%;
  border-radius: 16px;
  border: 0.5px solid rgba(255, 255, 255, 0.33);
  background: rgba(255, 255, 255, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17.3px);
}

header a {
  text-decoration: none;
  font-size: 1.8em;
  font-size: 1.7vw;
}

.headerBtn {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17.3px);
  padding-block: 0.5vw;
  margin-inline: 1.5vw;
  max-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fotoLogo {
  width: 50%;
}

#aLogo {
  border-style: none;
  box-shadow: none;
  background: none;
}

/* Estilos para el pie de página */
footer {
  max-height: fit-content;
  height: fit-content;
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  z-index: 9;
}

footer a {
  text-decoration: none;
  color: whitesmoke;
  font-family: Noctado;
}

.mainDiv a {
  text-decoration: none;
  color: whitesmoke;
  margin: 0;
}

/* Estilos para los elementos de entrada */


.boton input value {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}


.centerDiv{
  margin-top: 10px;
}

/* Estilos para el contenido de contacto */
#contact {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho (50% cada una) */
  grid-template-areas: "cuadra formulario";
  grid-template-rows: auto; /* Tamaño automático para las filas */
  gap: 20px; /* Espacio entre las columnas */
}

#cuadra {
  grid-area: cuadra;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px; /* Espacio entre los elementos */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-align: center; /* Alinear texto al centro */
  margin-left: 250px;
  width: 70%;
  align-self: center;
}

#cuadro01,
#cuadro02,
#cuadro03,
#cuadro04 {
  background-color: rgba(255, 255, 255, 0.7);
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  width: 375px;
  height: 375px;
  align-self: center;
}

#cuadro01 img{
  width: 148px;
  height: 160px;
  margin-left: 80px;
  align-self: center;
}
#cuadro02 img{
  width: 148px;
  height: 150px;
  margin-left: 20px;
  align-self: center;
}
#cuadro03 img{
  width: 148px;
  height: 150px;
  align-self: center;
}
#cuadro04 img {
  width: 148px;
  height: 150px;
  margin-left: 15px;
  align-self: center;
}

/* Estilos para el formulario */
#formulario {
  grid-area: formulario;
  padding: 20px;
  background-color: rgba(112, 128, 144, 0.7);
  width: 70%;
  align-self: baseline;
  height: 95%;
}

#titulo_formulario {
  display: flex;
  justify-content: center;
}

#formulario_org {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-area: formulario_org;
  grid-gap: 10px;
  overflow: hidden;
  align-items: center;
  grid-template-areas: 
    "nombre"
    "correo"
    "asunto"
    "enviar";
}

#inputs {
  display: grid;
  grid-template-columns: minmax(35%, max-content) minmax(65%, max-content);
  grid-gap: 10px;
  margin-top: 60px;
}

#inputs label {
  font-size: 1.8em;
  font-family: 'Noctado';
}

#nombre {
  grid-area: nombre;
  width: 100%;
}

#email {
  grid-area: correo;
  width: 100%;
}

#asunto textarea {
  grid-area: asunto;
  width: 100%;
}

#asunto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#asunto label {
  grid-row: 1;
  font-size: 1.8em;
  font-family: 'Noctado';
}

#enviarasunto {
  width: 100%;
  background-color: rgba(135, 206, 250, 0.8);
  line-height: 42px;
  padding: 0;
  border: none;
  cursor: pointer;
  display: inline-block; /* Ajusta el botón para que se comporte como un elemento en línea */
  margin: auto; /* Centra horizontalmente */
}

.comu{
font-family: 'Noctado';
font-size: 1.5em;
margin: 0;
}

p{
  margin: 0;
  font-family: 'louis';
}

input[type="text"],
input[type="email"],
textarea {
  background-color: rgba(255, 255, 255, 0.8); /* Hacer las cajas opacas con un nivel de opacidad del 0.8 */
}

#tienda{
  justify-content: center;
  align-items: center;
  align-self: center;
}

#videoTienda{
  height:100px;
  width: 100px;
  align-self: center;
}