#contact {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
  grid-template-rows: auto; /* Usar el tamaño de contenido para las filas */
  gap: 20px; /* Espacio entre las columnas */
}

#cuadra {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px; /* Espacio entre los elementos */
}

#cuadro01 {
  background-color: lightblue;
}

#cuadro02 {
  background-color: lightgreen;
}

#cuadro03 {
  background-color: lightcoral;
}

#cuadro04 {
  background-color: lightyellow;
}

#form {
  padding: 20px; /* Añadir un poco de espacio alrededor del formulario */
}