@font-face {
  src: url("fonts/Louis-George-Cafe.ttf");
  font-family: 'Louis';
}

@font-face {
  src: url("fonts/NOCTADO.otf");
  font-family: 'Noctado';
}

@font-face {
  src: url("fonts/against\ regular.otf");
  font-family: 'Regular';
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
/*Hecho por guille*/
header {
  z-index: 6;
  font-family: 'Louis';
  
  grid-column-start: 1;
  grid-column-end: 4;

  display: grid;
  grid-template-columns: 10% repeat(4, 1fr);
  align-items: center;
  text-align: center;

  height: fit-content;
  padding-block: 0.8%;

  border-radius: 16px;
  border: 0.5px solid rgba(255, 255, 255, 0.33);

  background: rgba(255, 255, 255, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17.3px);
}

header a {
  text-decoration: none;
  font-size: 1.8em;
  font-size: 1.7vw;
}

.headerBtn {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17.3px);
  padding-block: 0.5vw;
  margin-inline: 1.5vw;

  max-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fotoLogo {
  width: 50%;
}

#aLogo {
  border-style: none;
  box-shadow: none;
  background: none;
}

footer {
  max-height: fit-content;
  height: fit-content;
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  z-index: 9;
}

footer a {
  text-decoration: none;
  color: whitesmoke;
  font-family: Noctado;
}

.mainDiv a {
  text-decoration: none;
  color: whitesmoke;
}


input[type="submit"] {
  background: rgb(247, 150, 192);
  background: radial-gradient(circle, rgba(247, 150, 192, 1) 0%, rgba(118, 174, 241, 1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.boton input value {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/*Hasta aqui*/


#cuerpo{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "cuadra form";

}

#cuadra{
  grid-area: cuadra;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
  "cuadro01 cuadro02"
  "cuadro03 cuadro04"; 
}

