#galeriaCentral {
    --gap: 1vmin;
    --transition: 0.5s;
    
    display: flex;
    flex-direction: column;

    height: 80vh;
    max-height: 80vh;

    gap: var(--gap);
    
}

.galeria {
    background-color: rgba(63, 201, 50, 0);
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    
    flex: 1 1 0%;

    transition: flex var(--transition), filter var(--transition);

    max-height: 90%;
    min-height: 10%;
}

.galeria:hover {
    flex: 1 1 100%;
}

.img_container img {
    object-fit: cover;

    height: 100%;
    width: 100%;
}

.img_container {
    --brightness: 0.75;
    --grayscale: 1;
    --text-opacity: 100;
    --opacity: 0;
    --left-value: 50% - 10em;
    
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(var(--grayscale)) brightness(var(--brightness));

    height: 100%;

    flex: 1 1 0%;

    transition: flex var(--transition), filter var(--transition), justify-content var(--transition);
    

    overflow: hidden;
}

.img_container:hover {
    --brightness: 1.15;
    --grayscale: 0;
    --opacity: 1;
    --left-value: 0%;
    --text-opacity: 0;
    flex: 1 0 70%;
}

.img_text {    
    color: white;
    font-size: 10em;
    left: var(--left-value);
    opacity: var(--text-opacity);
    
    position: absolute;
}

.text_container {
    left: var(--left-value);
    opacity: calc(1 - var(--text-opacity));
    position: absolute;

    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.img_text_exp {
    padding-left: 3%;
    font-size: 6em;
    color: var(--text-color);
}

.desc_activ {
    padding-left: 3%;
    color: var(--text-color);
    font-size: 2em;
}