#galeriaCentral {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    gap: var(--gap);
    
    --gap: 1vmin;
    --transition: 0.5s;
}

.galeria {
    background-color: rgba(63, 201, 50, 0.486);
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    --magnifier: 6;
    --gap: 1vmin;
    --transition: 0.5s;
    flex: 1;
    
    
    /*

    T | E | A | L
    -------------
    L | I | F | E

    */
}

.galeria img {
    --brightness: 0.75;
    --grayscale: 1;
    transition: flex var(--transition), filter var(--transition);
    height: 100%;
    width: 100%;
    filter: grayscale(var(--grayscale)) brightness(var(--brightness));
    object-fit: cover;
    overflow: hidden;
    flex: 1 1 0%;
}

.galeria img:hover {
    --brightness: 1.15;
    --grayscale: 0;
    flex: 1 0 50%;
    overflow: hidden;
    object-fit: cover;
}