@font-face {
    src: url("fonts/Louis-George-Cafe.ttf");
    font-family: 'Louis';
  }
  
@font-face {
    src: url("fonts/NOCTADO.otf");
    font-family: 'Noctado';
  }
  
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
/*Hecho por guille*/
header {
    z-index: 6;
    font-family: 'Louis';
    
    grid-column-start: 1;
    grid-column-end: 4;
  
    display: grid;
    grid-template-columns: 10% repeat(4, 1fr);
    align-items: center;
    text-align: center;
  
    height: fit-content;
    padding-block: 0.8%;
  
    border-radius: 16px;
    border: 0.5px solid rgba(255, 255, 255, 0.33);
  
    background: rgba(255, 255, 255, 0.22);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17.3px);
  }
  
  header a {
    text-decoration: none;
    font-size: 1.8em;
    font-size: 1.7vw;
  }
  
  .headerBtn {
    background: rgba(255, 255, 255, 0.22);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17.3px);
    padding-block: 0.5vw;
    margin-inline: 1.5vw;
  
    max-height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #fotoLogo {
    width: 50%;
  }
  
  #aLogo {
    border-style: none;
    box-shadow: none;
    background: none;
  }
  
  footer {
    max-height: fit-content;
    height: fit-content;
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    z-index: 9;
  }
  
  footer a {
    text-decoration: none;
    color: whitesmoke;
    font-family: Noctado;
  }
  
  .mainDiv a {
    text-decoration: none;
    color: whitesmoke;
  }
  

  
  
  input[type="submit"] {
    background: rgb(247, 150, 192);
    background: radial-gradient(circle, rgba(247, 150, 192, 1) 0%, rgba(118, 174, 241, 1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  
  .boton input value {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }



/*Hasta aqui*/

 
#caja_video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; /* Set height to auto */
    object-fit: cover;
}

.centerDiv {
  z-index: 1;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr; /* Change from repeat(1fr) to 1fr */
  grid-template-rows: auto 1fr; /* Added grid-template-rows */
  gap: 20px;
  border-radius: 10px;
  grid-template-areas:
      "quienesomos"
      "mtt";
}

.quienesomos{
    grid-area: quienesomos;
    display: grid;
    z-index: 1;
    grid-template-columns: 1fr 60% 1fr;
    margin: 20px;
    grid-template-areas: "izquierda cuerpo derecha";
    align-items:center;
    height: auto;
    margin-top: 0;
}

.imagen_der {
    grid-area: derecha;
    margin-top: 150px;
    min-height: 100%
}

.imagen_der img {
    width: 100%;
    height: auto;
}


.cuerpo {
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    position: relative;
    border-radius: 10px;
    background-color:rgba(57, 104, 246, 0.3);
    width: 100%;
    margin-top: 0;
    margin-bottom: 200px;
    grid-template-areas:
        "tit"
        "desc"
        "tit"
        "desc"
        "tit"
        "desc"
        "tit"
        "desc";
    align-self: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    font-family: "louis";
}

.titulo {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 47.5% 5% 47.5%;
    grid-template-areas:
        "izq tit der";
    align-items: center;
    

}

.titulo_letra {
    grid-area: tit;
    text-align: center;
    font-size: 3em;
    align-self: center;
    font-family: 'lost';
    color: aquamarine;
    font-size: 100px;
}

.titulo_izq, .titulo_der{
    font-family: 'ahdn';
    font-size: 50px;
    color: aliceblue;
}

.titulo_izq {
    grid-area: izq;
    text-align: right;
    margin: 0;
    align-self: end;

}

.titulo_der {
    grid-area: der;
    text-align: left;
    margin: 0;
    align-self: end;
}

.imp {
    text-align: center;
    align-self: auto;
    margin: 0;

}

.no_impd {
    text-align: right;
    align-self: flex-end;
    margin: 0;
    margin-bottom: 2%;
}

.no_impi {
    text-align: left;
    align-self: flex-end;
    margin: 0;
    margin-bottom: 2%;
}

.descripcion{
    display: grid;
    grid-template-areas: none;
    align-items: center;
    align-self: center;
    margin-bottom: 100px;
}

.texto {
    text-align: center;
    max-width: 70%;
    margin: 0 auto; 
    font-family: 'Louis';
    font-size: 27px;
    color: rgba(255, 255, 255, 0.8);
}

.imagen_izq {
    grid-area: izquierda;
    margin-top: 0;
    margin-top: 150px;
    min-height: 100%
}

.imagen_izq img {
    width: 100%;
    height: auto;
}


#mtt{
  grid-area: mtt;
  display: grid;
  margin-top: 200px;
  height: auto;
  min-height: 200px;
}

#guille {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "tresd desc_mtt";
  align-items: center;
  z-index: 4;
}

#paula{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "tresd desc_mtt";
  align-items: center;
  z-index: 4;
}

#rosa{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "tresd desc_mtt";
  align-items: center;
  z-index: 4;

}

.tresd {
  z-index: 8;
  grid-area: tresd;
  border-top-left-radius: 70%; 
  border-bottom-left-radius: 55%; 
  border-bottom-right-radius: 70%; 
  transform: rotate(-45deg); 
  border: 1px solid rgb(11, 151, 245); 
  background-color: rgba(0, 255, 255, 0.363); 
  box-shadow: rgb(55, 78, 102) 0px 15px 25px -10px; 
  width: 800px; 
  height: 800px; 
  margin: 100px; 
}

.desc_mtt{
  grid-area: desc_mtt;
}

.model-viewer{
z-index: 12;
}


.pepe{
  z-index: 15;
  height: fit-content;
  width: fit-content;
}