html, body {
  background: none !important;
}

#caja_video {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  
  max-height: 100%;
  z-index: -1;
}

#fondo {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;

  overflow: hidden;
  object-fit: cover;
}

.centerDiv {
padding: 1%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;

z-index: 1;
}

.quienesomos {
  width: 70%;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: auto;
}

.descripcion {
  margin-bottom: 3%;
}

.texto {
  text-align: center;
  max-width: 80%;
  margin: 0 auto; 
  font-family: 'Louis';
  font-size: 1.5em;
  color: var(--text-color);
}

#meettheteam{
  font-family: var(--text-font);
  color: whitesmoke;
  font-size: 5em;
}

.desc_mtt{
  width: 60%;
  text-align: center;
  align-self: center;
  align-items: center;
}

.desc {
  display: grid;
font-family: var(--text-font);
color: var(--text-color);
font-size: 2em;

}

.col_info {
  border-radius: 10px;
  background-color:rgba(57, 104, 246, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.letra_minus {
  font-family: var(--title-font);
  font-size: 3em;
  color: aliceblue;
  padding-inline: 0.2%;
}

.letra_mayus {
  font-size: 3em;
  font-family: var(--title-font);
  color: aquamarine;
  padding-inline: 0.3%;
}

/* Imagenes laterales */
.images_col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Meet the Team */

#mtt {
  height: 70%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gota iframe {
    height: 500px;
    width: 1000px;
}