#lista_productos {
    margin-inline: 5%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: var(--background-color);
}

#tienda {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    margin-inline: 1%;
    margin-block: 2%;
    padding: 1%;
    
    border-radius: 5px 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17.3px);
    background-color: var(--background-color);
}

#bienvenida {
    color: var(--text-color);
    text-align: center;
}

.producto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-block: 5%;
    margin-inline: 5%;
    padding: 2%;
    border-radius: 5px 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17.3px);
    background-color: var(--background-color);
    border: 2px var(--border-color) solid;    
}

.desc_producto {
    color: var(--text-color);
    text-wrap: wrap;
}

.precio_producto {
    color: var(--text-color);
}

img {
    width: 20%;
    
    
}

p, h2 {
    color: var(--text-color);
}

.caja_desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
}

video {
    width: 40%;
}