body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
}

h1, aside {
    margin-right: auto;
}

.cuerpo{
display: grid;
grid-template-columns: repeat(1,1fr);
gap: 20px;
background-color: lightskyblue;
padding: 20px;
border-radius: 10px;
box-shadow: 10px 0 10px rgba(0,0,0, 0.4);
max-width: fit-content;
margin-top: 20px;
margin-bottom: 20px;
}

.texto_1, .texto_2, .texto_3, .texto_4{
margin-bottom: 20px;
}

footer{
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}